<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="STL_Showcase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <STL_Showcase.Properties.Settings>
            <setting name="PreferredCachePath" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RenderAspect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentView3DAspect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainColumnsVisibilityDirectoryTree" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainColumnsVisibilityModelList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainColumnsVisibility3DView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainColumnsPoweredIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
        </STL_Showcase.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MoreLinq" publicKeyToken="384d532d7e88985d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.2.0" newVersion="3.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>